$softGray: #aaaaaa;
$backgroundDark: #212121;
$backgroundBlack: #181818;
$corporateLilla: #8774e1;

.telegram-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  max-width: 1680px;
  width: 100%;

  &.chat-open {
    .sidebar {
      display: none;
    }
    .chat-container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}

// Apply the `chat-open` behavior only on small screens
@media (min-width: 769px) {
  .telegram-container.chat-open {
    .sidebar {
      display: block; // Ensure the sidebar is always visible on larger screens
    }
    .chat-container {
      display: flex;
      flex-direction: column;
      width: calc(100% - 420px); // Sidebar width is 420px
    }
  }
}

.sidebar {
  width: 420px;
  background-color: $backgroundDark;
  color: white;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.sidebar h2 {
  margin: 0;
  padding: 10px 0;
  font-size: 18px;
  border-bottom: 1px solid #3c3f42;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid #3c3f42;
  border-radius: 12px;
  span {
    color: white;
    margin-right: 5px;
  }
}

.sidebar li:hover {
  background-color: #3c3f42;
}

.sidebar li.active {
  background-color: $corporateLilla;

  .chat-last-message {
    color: white;
  }
}

.chat-container {
  display: none;
  flex-direction: column;
  width: 100%;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #2a2f32;
  color: white;
  border-bottom: 1px solid #3c3f42;
}

.chat-header .back-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.chat-header .chat-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
}

.chat-item {
  display: flex;
  align-items: center;
}

.chat-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  flex-shrink: 0;
}

.chat-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-info {
  display: flex;
  flex-direction: column;
}

.chat-title {
  font-weight: bold;
  color: white;
}

.chat-last-message {
  font-size: 13px;
  color: $softGray;
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  color: white;
  max-width: 1080px;
  background: url("/assets/telegrambg.jpg") no-repeat center center;
  background-size: auto;
  height: calc(100vh - 60px);
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: flex-end;
  margin: 10px 0;
}

.message.user {
  justify-content: flex-end;
}

.message.other {
  justify-content: flex-start;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bubble-container {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.username {
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffa500;
}

.bubble {
  padding: 10px;
  border-radius: 14px;
  background-color: $backgroundDark;
  color: white;
  text-align: left;
}

.message.user .bubble {
  background-color: $corporateLilla;
  color: white;
}

.input-area {
  display: flex;
  padding: 10px;
  background-color: #2a2f32;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.input-area button {
  background-color: #005c4b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.input-area button:hover {
  background-color: #007b5e;
}

.search-bar {
  display: flex;
  align-items: center;
  .search-box {
    display: flex;
    align-items: center;
    background: $backgroundBlack;
    border-radius: 15px;
    padding: 5px 10px;
    margin-left: 10px;
    flex: 1;
    height: 30px;
    p {
      color: $softGray;
      margin-left: 5px;
      font-size: 14px;
      font-family: Arial, sans-serif;
    }
  }
}
