.story-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  border: 2px solid #4caf50;
  cursor: pointer;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // Ensures the image fits the circle container
  }
}

.story-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-modal-content {
  max-width: 100%; // Ensures the image doesn't overflow horizontally
  max-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%; // Makes the image responsive to the screen width
    height: auto; // Maintains the aspect ratio
    object-fit: contain; // Ensures the image fits within the modal
  }
}

.stories {
  display: flex;
  padding: 10px;
  background-color: #1e1e1e;
  overflow-x: auto;
  gap: 10px;
}

.stories-container {
  margin-bottom: 20px;
}
