.story-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  border: 2px solid #4caf50;
  cursor: pointer;
  flex-shrink: 0;
}

.story-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // max-width: 1200px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-modal-content {
  max-width: 80%;
  max-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stories {
  display: flex;
  padding: 10px;
  background-color: #1e1e1e;
  overflow-x: auto;
  gap: 10px;
}

.stories-container {
  margin-bottom: 20px;
}
