.full-height-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  width: 100%;
  transition: opacity 3s ease-in-out;
}

.lab-scene {
  background-color: white;
  width: 100%;
  height: 100vh;
}

.full-height-image {
  height: 100vh;
  width: auto;
  cursor: pointer;
}

.full-height-image-container.disappear {
  animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.25;
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0.25;
  }
  55% {
    opacity: 1;
  }
  70% {
    opacity: 0.25;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
