.full-height-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  width: 100%;
  transition: opacity 3s ease-in-out;
  overflow-x: auto;
  @media (max-width: 1000px) {
    justify-content: flex-start;
  }
}

.lab-scene {
  background-color: white;
  width: 100%;
  height: 100vh;
  position: relative;
}

.full-height-image {
  height: 100vh;
  width: auto;
  cursor: pointer;
  // flex-shrink: 0;
}

.full-height-image-container.disappear {
  animation: fadeOut 5s forwards;
}

.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  max-width: 80%;
}

.video-container h1 {
  color: black;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}

.intro-video {
  width: 100%;
  height: auto;
  max-height: 80vh;
}

.video-container.disappear {
  animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.25;
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0.25;
  }
  55% {
    opacity: 1;
  }
  70% {
    opacity: 0.25;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
