.geostatic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212;
  color: white;
  position: relative;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 100vw;
}

.geostatic {
  width: 100%;
  border-radius: 10px;
}

.hover-area {
  position: absolute;
  top: 52%;
  left: 35%;
  width: 30%;
  height: 9%;
  border: 2px solid red;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  animation: pulse 2s infinite;
}

.geostatic-ad {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  border-radius: 10px;
  z-index: 10;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  border-radius: 10px;
  z-index: 20;
  cursor: pointer;
}

.image-carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .left-arrow {
    left: 10px;
  }

  .right-arrow {
    right: 10px;
  }

  .arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.guess-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  z-index: 30;
}

.guess-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 5px;
  height: 22px;
}

.guess-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.guess-button:hover {
  background-color: #0056b3;
}

.result-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 40;
  box-sizing: border-box;
}

.result-text {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.close-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.result-image {
  max-width: 90%;
  max-height: 80vh;
  object-fit: contain;
}
