.geostatic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212;
  color: white;
  position: relative;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 100vw;
}

.geostatic {
  width: 100%;
  border-radius: 10px;
}

.hover-area {
  position: absolute;
  top: 52%;
  left: 35%;
  width: 30%;
  height: 9%;
  border: 2px solid red;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  animation: pulse 2s infinite;
}

.geostatic-ad {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  border-radius: 10px;
  z-index: 10;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  border-radius: 10px;
  z-index: 20;
  cursor: pointer;
}
